// Colors
$c_orange: #ff7500;
$c_orange--hover: #cb5f00;
$c_blue: #007cca;
$c_blue--hover: #1e4c7a;
$c_grey: #7c7c7c;
$c_black: #333;
$c_grey--footer: #949494;
$c_grey--footerBkg: #dcdcdc;
$c_white: #fff;

// Font-sizes
$big: 1.75rem;
$title: 1.5rem;
$undertitle: 1rem;
$line-height: 1.382rem;
$infos: 1.25rem;
$small: 0.8125rem;
$form: 16px;

// Font-stacks
$source: 'Source Sans Pro', sans-serif;
$tahoma: Tahoma,Verdana,Segoe,sans-serif;
$roboto: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;